@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Rubik+Dirt&display=swap');
* {
    margin: 0;
    padding: 0;

}

#club-logo{
   /* font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal; */
    font-family: "Rubik Dirt", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px !important;
    color: rgb(249, 6, 6);
    text-shadow: 9px 5px 4px #2a3132;
}

.line{
    height: 1px;
    background-color:rgb(128, 128, 128);
}


section.container-fluid{
    padding:0;
    margin:0;
}

.carousel-caption h5{
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal; 
    font-size: 50px;
    text-shadow: 5px 5px 1px rgb(0, 0, 0);
}

.carousel-caption p{
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal
    text-shadow: 3px 3px 1px rgb(0, 0, 0);
    font-size: 30px;

}